/*
 *= require 'normalize'
 *= require_self
 */

@charset "utf-8";

@import 'foundation_and_overrides';
@import 'layout';

header {
  h1 {
    margin: .25em 1em;
  }
}

.content {
  > .section-heading {
    &:not(:first-child) {
      @include exp(column-break-before, always);
      break-before: column;
    }
    &:not(:last-child) {
      @include exp(column-break-after, always);
      break-after: column;
    }
    @include exp(column-break-inside, avoid);
    break-inside: avoid;

    height: 100%;
    border-right: ($gutter-width/5) solid rgba(red, 0.6);

    h3 {
      @include exp(transform, rotate(-90deg));
      @include exp(transform-origin, bottom right);
      text-align: right;
      font-size: 24pt;
      margin: 0;
    }
  }
}
