/*
 *= require 'normalize'
 *= require_self
 */

@charset "utf-8";

@import 'foundation_and_overrides';
//@import 'typography';
@import 'layout';
//@import 'nav';

header {
  h1 {
    margin: .25em 1em;
  }
}

@mixin arrow-underline {
  text-align: center;

  padding: 16px;
  margin-bottom: 29px;

  border-bottom: 3px solid #DADADA;

  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  &:after {
    bottom: -8px;
    left: 50%;
    border-top-color: #dadada;
    border-width: 8px;
  }
}

@import 'index';
