@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "foundation/components/grid";

.index {
  #banner {
    height: 30%;
    background-image: image-url('cover-photo.jpg');
  }

  #projects {
    .project {
      padding: 10px;

      img {
        width: 100%;
      }

      &:nth-child(odd) {
        .logo {
          @include grid-column($push:8, $collapse: null, $float:false);
        }
        .description {
          @include grid-column($pull:4, $collapse: null, $float:false);
        }
      }

      $n: 8;
      $offset: 3;
      @for $i from 0 to $n {
        &:nth-child(#{$n}n + #{$i}):hover {
          $hue: 360 * ($i + $offset) / $n;
          background-color: hsla($hue, 100, 50, 0.2);
          @include single-box-shadow(hsla($hue, 100, 50, 0.8));
        }
      }

    }
  }
}
