!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %link{href: '/humans.txt', rel: 'author', type:'text/plain'}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "True", :name => "HandheldFriendly"}/
    %meta{:content => "320", :name => "MobileOptimized"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "on", "http-equiv" => "cleartype"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title= data.page.title || "TMaYaD"

    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"

  %body{class: page_classes}
    = yield
