%nav.top-bar{data: {topbar: true, options: "is_hover: false"}}
  %section.left
    %a.left-off-canvas-toggle.menu-icon
      %span

  %ul.title-area
    %li.name
      %h1
        = link_to 'TMaYaD', '/'
        %small (n.) A crazy freelancer, entrepreneur, hacker, and an artist

  %section.top-bar-section.right= partial 'nav'
