%hgroup
  %h1
    = link_to 'TMaYaD', '/'
    %small (n.) A crazy freelancer, entrepreneur, hacker, and an artist

  %nav
    %ul
      %li.active= link_to 'Projects', '/projects'
      %li= link_to 'FAQ', '/faq'
      %li= link_to 'Hire us', '/hire-us'
