---
title: TMaYaD - Home
---

#banner.container
  .title
    .row
      .small-12.columns
        %h1
          TMaYaD
          %br
          %small Freelancer, Entrepreneur, Hacker and Artist

%section#projects= partial 'home/projects'
%section#clients= partial 'home/clients'
