---
title: TMaYaD - Home
---

#banner.container
  .title
    .row
      .small-12.columns
        %h1
          TMaYaD
        %h4.subheader Freelancer, Entrepreneur, Hacker and Artist

#projects= partial 'home/projects'

#loonyflow= partial 'home/loonyflow'
